@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

.montserrat-extrabold {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: 700;
                 font-style: normal;
             }
.montserrat-light {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: 300;
                 font-style: normal;
             }
.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}